.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched {
    border: 1px solid green;
}

.item-carrinho {
    background: #FAFAFA;
    padding: 20px;
    border-bottom: solid 1px #F0F0F0;
}
